BEGINBINADDRESS=0
BRUNBIN=0
RUNBINADDRESS=0
BALLRAM=1
BHEADER=1
BP1CHCK=0
BP1ADDRESS=0
BP2CHCK=0
BP2ADDRESS=0
BP3CHCK=0
BP3ADDRESS=0
BP4CHCK=0
BP4ADDRESS=0
BP5CHCK=0
BP5ADDRESS=0
BP6CHCK=0
BP6ADDRESS=0
BP7CHCK=0
BP7ADDRESS=0
MEMADDRESS=0
BSHOWCODE=0
BTIMELINE=1
AUDIO=1
MELODIK=1
FULLSCREEN=0
SCANLINES=0
BINSAVEFILEPATH=
BINSAVEADDRESSFROM=0
BINSAVEADDRESSTO=0
TAPFILEPATH=
SNAFILEPATH=
SHOTFILEPATH=
ROMAFILEPATH=
ROMBFILEPATH=
ROMTYPE=2
