BEGINBINADDRESS=0
BRUNBIN=0
RUNBINADDRESS=0
BALLRAM=1
BHEADER=1
BP1CHCK=0
BP1ADDRESS=7244
BP2CHCK=0
BP2ADDRESS=7046
BP3CHCK=0
BP3ADDRESS=6856
BP4CHCK=0
BP4ADDRESS=0
BP5CHCK=0
BP5ADDRESS=0
BP6CHCK=0
BP6ADDRESS=0
BP7CHCK=0
BP7ADDRESS=54824
MEMADDRESS=43776
BSHOWCODE=1
BTIMELINE=1
AUDIO=1
MELODIK=1
FULLSCREEN=0
SCANLINES=0
BINSAVEFILEPATH=
BINSAVEADDRESSFROM=0
BINSAVEADDRESSTO=0
ROMAFILEPATH=
ROMBFILEPATH=
ROMTYPE=2
